@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg1
{
  background-image: url("Bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg2
{
  background-image: url("Bg2-01.jpg");
  
  
}